.codinfox-tag-mark{
	display:inline-block;
	background:rgba(106,108,181,0.15);
	padding:0 .5rem;
	margin-right:.5rem;
	border-radius:4px;
	color:#69A84F;
	font-size:90%;
	-webkit-transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}

.codinfox-tag-mark:hover{
	text-decoration:none;
	background:#69A84F;
	color:#fff;
}

.codinfox-category-mark {
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #f0f0f0;
    color: #999;
    text-decoration: none;
    margin-bottom: .75rem;
}

.codinfox-category-mark:hover {
    font-weight: bold;
}

.codinfox-category-list {
    padding-left: 1rem;
    list-style: none;
}
.codinfox-category-list h3 {
    margin-top: 0;
}
.codinfox-category-list li small {
    font-size: 75%;
    color: #999;
}
.codinfox-category-list li a:hover {
    color: #69A84F;
    text-decoration: none;
}
.codinfox-category-list li a:hover small {
    color: inherit;
}

img {
	max-width: 80%;
	display: block;
}