body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #69A84F;
}

.well h1 {
    color: #69A84F;
    font-size: 32px;
}

.well h2 {
    color: #69A84F;
    font-size: 24px;
}

.sidebar h1 {
    color: #69A84F;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.author {
    color: #69A84F;
	font-size: 16px;
}

.author a {
    color: #69A84F;
	font-size: 16px;
}

.title {
    color: #69A84F;
	font-size: 48px;
}

.title a {
    color: #69A84F;
	font-size: 48px;
}

#date {
    color: #69A84F;
	font-size: 16px;
}

.tags {
    color: #69A84F;
	font-size: 14px;
}

.tags a {
    color: #69A84F;
	font-size: 14px;
}
